{% extends "./main.html" %}

{% block content %}
    <p>Описание</p>
    <form method="post" class="col-md-6">
        {% csrf_token %}
        <label class='form-label' for="firstPerson">Первый участник</label>
        <input class='form-control' type="text" name="firstPerson" id="firstPerson"><br><br>
        <label class="form-label" for="secondPerson">Второй участник</label>
        <input class='form-control' type="text" name="secondPerson" id="firstPerson"><br><br>
        <input type="submit" value="Добавить" class="btn btn-warning">
    </form>

    <div class="offset-md-2 col-md-4 card">
        <ul>
            {% for pair in all_pairs %}
            <li><div>
                <p>{{ pair.first_name }} и {{ pair.second_name }}</p>
                <a class="btn btn-warning" href="/not_together/{{ pair.id }}/edit">Редактировать</a>
                <a class="btn btn-danger" href="/not_together/{{ pair.id }}/delete">Удалить</a>
            </div></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}