{% extends "./main.html" %}

{% block content %}
    <p>Описание</p>
    <form method="post" class="col-md-6">
        {% csrf_token %}
        <label class='form-label' for="firstPerson">Первый участник</label>
        <input class='form-control' type="text" name="firstPerson" id="firstPerson" value="{{ selected_pair.first_name }}"><br><br>
        <label class='form-label' for="secondPerson">Второй участник</label>
        <input class='form-control' type="text" name="secondPerson" id="secondPerson" value="{{ selected_pair.second_name }}"><br><br>
        <input class='form-control' type="submit" value="Изменить">
    </form>
{% endblock %}