<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Распределительная шляпа</title>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
</head>
<style>
    .body{
        margin: 0;
        padding: 0;
    }
    .row{
        margin-top: 10vh;
    }
    .card{
        border: black;
    }
</style>
<script>
onload = function () {
    for (let lnk = document.links, j = 0; j < lnk.length; j++)
        if (lnk [j].href == document.URL) lnk [j].style.cssText = 'font-weight: bold; color: white';
}
</script>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Распределительная шляпа</a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/candle">Свечки</a></li>
                <li><a href="/tutor">Кураторилки</a></li>
                <li><a href="/rooms">Домики</a></li>
                <li><a href="/pairs">Чайку / Тайный друг</a></li>
                <li><a href="/add_people_who_are_not_together">Они не вместе</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<div class="row">
    <div class="card col-md-12">
        {% block content %}
        {% endblock %}
    </div>
    <div class="card col-md-12">
        {% block result %}
        {% endblock %}
    </div>
</div>
</div>
{% if request.path != '/' %}
<a class="btn btn-primary" href="/" style="float: right">На главную</a>
{% endif %}
</body>
</html>