{% extends "./main.html" %}

{% block content %}
<form method="post" action="{{ action }}">
            {% csrf_token %}
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Имена</th>
                        <th>Пол</th>
                        <th>Курс</th>
                        <th>Возраст</th>
                        <th>Класс</th>
                        <th>Какой раз в GoTo</th>
                        <th>Номер домика</th>
                        <th>ОФП</th>
                        <th>Любимые жанры</th>
                        <th>Любимые предметы</th>
                        <th>Интересующие виды спорта</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><textarea class='form-control' name="names">{{ previous_values.names }}</textarea></td>
                        <td><textarea class='form-control' name="sex">{{ previous_values.sex }}</textarea></td>
                        <td><textarea class='form-control' name="course">{{ previous_values.course }}</textarea></td>
                        <td><textarea class='form-control' name="age">{{ previous_values.age }}</textarea></td>
                        <td><textarea class='form-control' name="form">{{ previous_values.form }}</textarea></td>
                        <td><textarea class='form-control' name="count">{{ previous_values.count }}</textarea></td>
                        <td><textarea class='form-control' name="h_numbers">{{ previous_values.h_numbers }}</textarea></td>
                        <td><textarea class='form-control' name="sport_genre">{{ previous_values.sport_genre }}</textarea></td>
                        <td><textarea class='form-control' name="genre_g">{{ previous_values.genre_g }}</textarea></td>
                        <td><textarea class='form-control' name="fav_tasks">{{ previous_values.fav_tasks }}</textarea></td>
                        <td><textarea class='form-control' name="sports">{{ previous_values.sports }}</textarea></td>
                    </tr>
                </tbody>
            </table>
            </div><br>
            <input class="btn btn-success" type="submit">
        </form>
{% endblock %}


{% block result %}
    <br><br><div>
        {% for team, team_members in result.items %}
            <p><strong>{{ team }}</strong></p>
                <li>
                    {{ team_members }}
                </li>
        {%  endfor %}
    </div>
    <div>
        <p>{{ error }}</p>
    </div>
{% endblock %}